html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----------------------------- paragragh font ----------------------------- */

@font-face {
  font-family: Changa;
  src: url('../Fonts/Changa/Changa-VariableFont_wght.ttf');
}


.mid_cont {
  /* border: 10px solid blue; */
  /* height: calc(100vh - 90px); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 120px;
  
}

.card_cont {
  /* border: 1px solid #000;
  background-color: rgb(0, 174, 255); */
  
    
  width: 350px;
  height: 250px;
  margin: 40px;
  transition: 0.5s;
}

.back_card {
  
  width: 330px;
  height: 210px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: relative;
  bottom: -40px;
  
  margin: 0 auto 0 auto;
  
  background-color: #fff;
  
  transition: all .5s ease-in-out;
  background-image: url(../PIC/wave_cover2.png);
}



.back_card .title {
  color: #333;
  opacity: 0;
  width: 300px;
  text-align: center;
  position: absolute;
  bottom: 35px;
  transition: all .7s ease-in-out;
  font-family: changa;
 
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  height: 100px;
}
.back_card h2 {
  color: #333;
  /* border: 1px solid #000; */
  text-align: center;
  position: absolute;
  bottom: 0px;
  transition: all .5s ease-in-out;
  font-family: changa;
  
}

.card_img{
  display: block;
  width: 300px;
  height: 200px;
  position: relative;
  top: -30px;
  z-index: 2;
  border-radius: 15px;

  transition: all 0.5s ease-in-out;
}

.card_cont:hover {
  border-radius: 20px;
  border-bottom: #000 ;
}
.card_cont:hover .back_card {
  height: 230px;
  background-image: url(../PIC/wave_card.png);

}
.card_cont:hover .title {
  opacity: 1;
}
.card_cont:hover h2 {
  bottom: 0px;
}
.card_cont:hover .card_img{
  border-radius: 45%;
  top: -100px;
}








.sp{
  color: red;
}

footer{
  z-index: 2;
  /* opacity: .5; */
}


@media only screen and (max-width: 399px) {
  
  footer{
    display: none;
  }
}