* {

  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

:root {
  --org: rgb(250, 167, 119);
  --trans: all .3s ease-in-out;
}

/* ----------------------------- paragragh font ----------------------------- */

@font-face {
  font-family: Changa;
  src: url("../Fonts/Changa/Changa-VariableFont_wght.ttf");
}

/*  =================
2. header
=================*/

header {
  height: 90px;
  display: flex;
  background-color: #1c5253;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease-in-out;
}

.logo {
  position: absolute;
  left: 5%;
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#lg {
  width: 110px;
  transition: all 1s;
}

#lg:hover {
  transform: rotate(2deg);
}

#slogan {
  display: inline-block;
  color: #319092;
  font-family: sans-serif;
  font-size: 13px;
}

/*  =================
nav bar
=================*/



.nav-list {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 25px;
  right: 30px;
  width: 50%;
  text-align: right;
}

.mlist {
  /* border: 1px solid rgb(38, 0, 255); */
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.navico {
  /* border: 1px solid #000; */
  margin: 2px;
  height: 33px;
  opacity: 0.7;
  color: rgb(0, 0, 0);
  font-size: 30px;
  transition: all 0.2s;
}

.navp {
  /* border: 1px solid #000; */
  text-align: center;
  opacity: 0;
  border-bottom: 4px solid transparent;
  
  transition: all 0.5s;
}



.mlist:hover .navico {
  opacity: 1;
  color: white;
  transform: rotate(-360deg);
}

.mlist:hover p {
  opacity: 1;
  border-bottom: 4px solid rgb(255, 94, 0);
}

@media only screen and (max-width: 810px) {
  .mlist {
    margin-left: 10px;}
}




/*  =================
drop down menu
=================*/


.sub-prnt{
  position: fixed;
  /* border: 1px solid rgb(255, 0, 0); */
  width: 100vw;
  height: calc(100vh - 90px);
  top: 90px;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.sub-menu{
  /* display: none; */
  border-top: 4px solid rgb(255, 94, 0);
  border-bottom: 4px solid rgb(255, 94, 0);

  position: absolute;
  background-color: #1c5253;
  width: max-content;
  width: 230px;
  padding: 0 10px;
  right: -260px;
  top: 2px;
  border-radius: 15px 0 0 15px;
  
  z-index: 11;
  
  transition: all 0.5s;
}

.sub-menu li {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  border-bottom: 1px #319092 solid;
  transition: var(--trans);
  border-radius: 5px;
  pointer-events: all;
}

.sub-menu a {
  transition: var(--trans);

}



.sub-menu li:last-child{
  border-bottom: none;
}

.sub-on-off {
  display: block;
  right: 0;

}

.ham-activ{
  opacity: 1;
  color: white;
}

.hamp {
  opacity: 1;
  border-bottom: 4px solid rgb(255, 94, 0);
}

#ham{
  cursor: pointer;
}

.sub-menu li:hover a {
  color: var(--org);
  letter-spacing: .03em;
  /* font-size: 1.1em; */
}

.sub-menu li:hover {
background-color: rgba(0, 255, 255, 0.103);
}




/*  =================
page_title
=================*/

